# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
TESArena

# Unnecessary Visual C++ files
ipch/
.vs/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.idb
*.pdb
*.suo
*.VC.db
*.user

# Visual C++ Build results
x64*
x86*
bld*
[Bb]uild*/*
[Bb]in/*
[Oo]bj*

# Compressed files
*.tar.gz
*.zip
*.7z

# CMake artifacts
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Files Intellij CLion
.idea/

# VS Code Workspace Settings folder
.vscode/
